.navbar {
    background-color:#323c7d;
    height: 5rem;
    
}
.navbar a {
    color: #FFFFFF;
    
    
}
.navbar-brand img {
  width: 5rem;  
}

.badge {
  border-radius: 60%;
}

.btn-group {
  margin-left: 13rem;
}
